:host {
    display: block;
}

.active {
    background: #e5e5e5;
    color: gray;
}

.wic-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.wic-button-container {
    display: flex;
    align-items: center;
}

.icon-margin {
    margin-left: 5px;
}

.wic-table-header-button {
    margin: 0px 5px;
}

.wic-table-caption {
    align-self: flex-start;
    font-weight: 600;
    font-size: 22px;
}