<div class="page-header p-t-0 m-t-0 minus-m-b-25">
</div>
<ng-container *ngIf="accountTableJSON">
    <app-table [Config]="accountTableJSON" [Data]="accountList" (header_addClick)="openModal('add', '')"
        (header_deleteClick)="showDeleteConfirm(null)">
    </app-table>
</ng-container>

<ng-template #actionTemplate let-column="column" let-row="row" let-rowIndex="rowIndex" let-columnIndex="columnIndex">
    <div style="position: relative" class="text-center" dropdown>
        <a dropdownToggle class="btn btn-light px-2 py-1 font-size-xl dropdown-toggle"
            (click)="$event.stopPropagation()">
        </a>
        <nz-button-group>
            <span nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight" style="cursor: pointer">
                <i nz-icon nzType="ellipsis"></i>
            </span>
        </nz-button-group>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item role="menuitem">
                    <a class="dropdown-item" (click)="accountDetailsModel(row)">{{
                        "View"
                        }}</a>
                </li>
                <li nz-menu-item role="menuitem">
                    <a class="dropdown-item" (click)="openModal('edit', row)">{{
                        "Edit"
                        }}</a>
                </li>
                <li nz-menu-item role="menuitem">
                    <a class="dropdown-item" (click)="showDeleteConfirm(row.id)">{{
                        "Delete"
                        }}</a>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
</ng-template>

<ng-template #created_by_template let-row="row" let-column="column">
    <span *ngIf="row[column.property]">{{row[column.property]['username']}}</span>
</ng-template>

<ng-template #statusTemplate let-column="column" let-row="row" let-rowIndex="rowIndex" let-columnIndex="columnIndex">
    <nz-switch nzSize="small" [ngModel]="row[column.property]"
        (ngModelChange)="statusChanged($event,row,column.property)">
    </nz-switch>
</ng-template>