<div class="card-header--actions columnMenu d-flex" style="position: relative">
  <!-- Toggle column visibility -->
  <div dropdown *ngIf="Header?.showColumnToggle">
    <button
      nz-button
      class="btn btn-sm btn-neutral-secondary dropdown-toggle"
      type="button"
      dropdownToggle
    >
      <!-- [tooltip]="'Show/Hide Columns'" -->
      <!-- | translate -->
      <span class="btn-wrapper--icon">
        <i nz-icon nzType="bars" nzTheme="outline"></i>
        <!-- <fa-icon [icon]="['fas', 'bars']" class="text-success"></fa-icon> -->
      </span>
      <span class="btn-wrapper--label">
        {{ "Columns" }}
      </span>
      <!-- | translate -->
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <ng-container *ngFor="let column of Columns; let i = index">
        <li
          class="columShowHide"
          role="menuitem"
          *ngIf="column.canNotHide === undefined || column.canNotHide == false"
        >
          <a
            [class]="
              column.visible == true ? 'dropdown-item active' : 'dropdown-item'
            "
            (click)="toggleColumn(i)"
            >{{ column.name }}</a
          >
          <!-- | translate -->
        </li>
      </ng-container>
    </ul>
  </div>

  <!-- Extra Custom Tempaltes that will Visible Here -->
  <ng-container *ngIf="ExtraButtons">
    <ng-container
      *ngTemplateOutlet="ExtraButtons; context: ExtraButtonContext"
    ></ng-container>
  </ng-container>

  <!-- Search Button -->
  <button
    nz-button
    (click)="search()"
    *ngIf="Header?.showSearch"
    class="btn btn-sm btn-neutral-secondary pull-right"
    tooltip="Search"
  >
    <span class="btn-wrapper--icon">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      <!-- <fa-icon [icon]="['fas', 'search']" class="text-success"></fa-icon> -->
    </span>
  </button>

  <!-- Add Button -->
  <button
    nz-button
    class="btn btn-sm btn-neutral-secondary"
    (click)="add()"
    *ngIf="Header?.showAdd"
    [disabled]="Header?.showAddDisabled"
  >
    <!-- tooltip="{{ Header?.addTooltipText }}" -->
    <!-- | translate -->
    <span class="btn-wrapper--icon">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <!-- <fa-icon [icon]="['fas', 'plus']" class="text-success"></fa-icon> -->
    </span>
  </button>

  <!-- Reset Button -->
  <button
    nz-button
    (click)="reset()"
    class="btn btn-sm btn-neutral-secondary"
    *ngIf="Header?.showReset"
  >
    <!-- tooltip="{{ Header?.resetTooltipText || 'Reset' | translate }}" -->
    <span class="btn-wrapper--icon">
      <i nz-icon nzType="sync" nzTheme="outline"></i>
      <!-- <fa-icon [icon]="['fas', 'sync-alt']" class="text-success"></fa-icon> -->
    </span>
  </button>

  <!-- Upload Button -->
  <button
    nz-button
    class="btn btn-sm btn-neutral-secondary"
    (click)="upload()"
    *ngIf="Header?.showUploadButton"
  >
    <!-- tooltip="{{ Header?.uploadTooltipText || 'Upload' | translate }}" -->
    <span class="btn-wrapper--icon">
      <i nz-icon nzType="upload" nzTheme="outline"></i>
      <!-- <fa-icon [icon]="['fas', 'upload']" class="text-success"></fa-icon> -->
    </span>
  </button>

  <!-- Download Button -->
  <button
    nz-button
    class="btn btn-sm btn-neutral-secondary"
    (click)="download()"
    *ngIf="Header?.showDownloadButton"
  >
    <!-- tooltip="{{ Header?.downloadTooltipText || 'Export' | translate }}" -->
    <span class="btn-wrapper--icon">
      <i nz-icon nzType="download" nzTheme="outline"></i>
      <!-- <fa-icon [icon]="['fas', 'download']" class="text-success"></fa-icon> -->
    </span>
  </button>

  <!-- Close Button -->
  <button
    nz-button
    *ngIf="Header?.showClose"
    (click)="close()"
    class="btn btn-sm btn-neutral-secondary pull-right"
  >
    <!-- tooltip="{{ Header?.closeTooltipText || 'Esci' | translate }}" -->
    <span class="btn-wrapper--icon">
      <i nz-icon nzType="field-time" nzTheme="outline"></i>
      <!-- <fa-icon [icon]="['fas', 'times']" class="text-success"></fa-icon> -->
    </span>
  </button>
</div>
