<div class="page-header p-t-0 m-t-0 minus-m-b-25">
  <!-- <div class="row align-items-md-center">
    <div class="col-md-6">hi</div>
    <div class="col-md-4">hi</div>
    <div class="col-md-2">hi</div>
  </div> -->
</div>
<ng-container *ngIf="subAdminTableJSON">
  <app-table
    [listOfData]="listOfData"
    [Config]="subAdminTableJSON"
    [Data]="subadminList"
    (header_addClick)="openModal(temp, 'add', '')"
    (header_deleteClick)="showDeleteConfirm(null)"
  ></app-table>
</ng-container>
<div *ngIf="usersVisible" style="margin: 25px 0 0 0">
  <!-- <app-installments
      [Data]="installmentData"
      (close)="usersVisible = false"
      ></app-installments> -->
  <app-user (close)="usersVisible = false"></app-user>
</div>

<ng-template #temp>
  <form
    nz-form
    nzLayout="vertical"
    id="addSubAdminForm"
    [formGroup]="subAdminForm"
  >
    <nz-form-item>
      <nz-form-label>Sub Admin Name</nz-form-label>
      <nz-form-control nzErrorTip="Enter a valid sub admin name">
        <input
          #username
          nz-input
          trim="blur"
          formControlName="username"
          maxlength="80"
          #subAdminName
          placeholder="Enter sub admin name"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="mode == 'add'">
      <nz-form-label>Sub Admin Email</nz-form-label>
      <nz-form-control nzErrorTip="Enter a valid sub admin email">
        <input
          nz-input
          trim="blur"
          formControlName="email"
          maxlength="80"
          #adminEmail
          placeholder="Enter email address"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="mode == 'add'">
      <nz-form-label nzFor="newPassword" class="text-black"
        >Password
      </nz-form-label>
      <nz-form-control [nzErrorTip]="newPasswordRef">
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            id="myinputbox"
            type="password"
            nz-input
            formControlName="password"
            placeholder="Enter new password"
            autofocus
          />
        </nz-input-group>
        <ng-template #newPasswordRef>
          Password is not valid
          <i
            class="fa fa-info-circle float-right pt-1"
            nzPopoverPlacement="bottom"
            nz-popover
            nzType="primary"
            nzPopoverTitle="Password Criteria"
            [nzPopoverContent]="popoverContent"
          ></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>

<ng-template #popoverContent>
  <ul class="p-l-20">
    <li>Alpahnumeric and at least 8 characters long <br /></li>
    <li>At least one uppercase letter <br /></li>
    <li>
      At least one of these characters ( @ / # / $ / % / ^ / & / + / = )<br />
    </li>
    <li>Must not contain spaces</li>
  </ul>
</ng-template>

<ng-template
  #subAdminActionTemplate
  let-column="column"
  let-row="row"
  let-rowIndex="rowIndex"
  let-columnIndex="columnIndex"
>
  <div style="position: relative" class="text-center" dropdown>
    <a
      dropdownToggle
      class="btn btn-light px-2 py-1 font-size-xl dropdown-toggle"
      (click)="$event.stopPropagation()"
    >
    </a>
    <nz-button-group>
      <span
        nz-button
        nz-dropdown
        [nzDropdownMenu]="menu1"
        nzPlacement="bottomRight"
        style="cursor: pointer"
      >
        <i nz-icon nzType="ellipsis"></i>
      </span>
    </nz-button-group>
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item role="menuitem">
          <a class="dropdown-item" (click)="showUsers(row)">{{ "Users" }}</a>
        </li>
        <li nz-menu-item role="menuitem">
          <a class="dropdown-item" (click)="openModal(temp, 'edit', row)">{{
            "Edit"
          }}</a>
        </li>
        <li nz-menu-item role="menuitem">
          <a class="dropdown-item" (click)="showDeleteConfirm(row.id)">{{
            "Delete"
          }}</a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</ng-template>
