.wi-action-menu {
    min-width: 130px;

    li {
        font-size: 16px;
        font-weight: 600;
    }
}

.truncate {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    &.tri-line {
        -webkit-line-clamp: 3;
    }
}

.validationColor {
    color: #de4436 !important;
}